/* this padding is to prevent the footer to overlap contents on body */
body{
  padding-bottom:120px;
}
/* Main Page */
.register_button{
  color:black;
}
  .register_button:hover{
    text-decoration: none;
  }
.logo{
  font-family: 'Pacifico', cursive;
  font-size:45px;
}
.small_logo{
  font-size:30px;
  font-family: 'Pacifico', cursive;
  color:black;
}
  .logo_a:hover{
    text-decoration: none;
  }
.mainpage_project{
  display:inline-block;
  width:350px;
  height:350px;
  /*background-color: pink;*/
  border: dashed 1px black;
  margin:1%;
  vertical-align: top;
}
.navbar li{
  display: inline;
}
.form-control.search{
  width:92%;
  display:inline;
}
.front_project_category{
  margin-top:0px;
  background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 54%, rgba(255,255,255,1) 100%);
}
footer{
  text-align: center;
  background-color: white;
}
