<div ng-controller="user_controller">
  <header class="logo_background">
    <h1 class="logo" align="center">Hey Team Up!</h1>
  </header>
  <div align="right">
    <a class="register_button" href="#!/project/new"><button class="btn btn-default">Add New Project</button></a>
    <a class="register_button" href="#!/myprofile"><button class="btn btn-default">Go To My Profile</button></a>
    <a class="register_button" href="#!/register"><button class="btn btn-default">Register/Login</button></a>
  </div>
  <h3>Find Projects/Teams By Keyword:</h3>
  <input class="form-control search" type="text" name="name" value="">
  <button class="btn btn-success">Submit</button>
  <h3>Find Projects/Teams By Category:</h3>
  <form>
    <select class="form-control search" ng-model="byCategory.category">
      <option value="javascript">Javascript</option>
      <option value="python">Python</option>
      <option value="csharp">C#</option>
      <option value="iOS">iOS</option>
      <option value="android">Android</option>
    </select>
    <button class="btn btn-success" ng-click="findByCategory()">Submit</button>
  </form>
  <h3>Explore Projects Created By Other Users:</h3>
  <div class="mainpage_project" ng-repeat="project in projects">
    <div align="center" ng-if="project.category == 'javascript'">
      <h2 class="front_project_category"style='color:#ff7976'>{{project.category}}</h2>
    </div>
    <div align="center" ng-if="project.category == 'iOS'">
      <h2 style="color:#ff76b8" class="front_project_category">{{project.category}}</h2>
    </div>
    <div align="center" ng-if="project.category == 'python'">
      <h2 style="color:#76ff79" class="front_project_category">{{project.category}}</h2>
    </div>
    <div align="center" ng-if="project.category == 'csharp'">
      <h2 style="color:magenta" class="front_project_category">{{project.category}}</h2>
    </div>
    <div align="center" ng-if="project.category == 'android'">
      <h2 style="color:blue" class="front_project_category">{{project.category}}</h2>
    </div>
    <h3>{{project.title}}</h3>
    <p>{{project.description}}</p>
    <h4>Created By: <a href="/#!/users/{{project.creator._id}}">{{project.creator.firstName}} {{project.creator.lastName}}</h4></a>
    <a href="/#!/project/info/{{project._id}}">More Project Information</a>
    <hr>
    <!-- <button type="button" class="btn btn-danger"name="button" ng-click="deleteProject(project._id)">Delete This Project</button> -->
  </div>
  <footer class="navbar-fixed-bottom" align="center">
    <ul class="navbar">
      <li><a href="#!/">Home</a> |</li>
      <li><a href="/users/logout">Logout</a></li>
    </ul>
  </footer>
</div>
