<div ng-controller="user_controller">
  <div class="logo_background">
    <h1 class="logo" align="center">Hey Team Up!</h1>
  </div>
  <div align="right">
    <a class="register_button" href="#!/project/new"><button class="btn btn-default">Add New Project</button></a>
    <a class="register_button" href="#!/myprofile"><button class="btn btn-default">Go To My Profile</button></a>
    <a class="register_button" href="#!/register"><button class="btn btn-default">Register/Login</button></a>
  </div>
  <h3>Find Your Projects/Teams:</h3>
  <input class="form-control" type="text" name="name" value="">
  <button class="btn btn-default">Submit</button>
  <h3>Explore Projects Created By Other Users:</h3>
  <div class="mainpage_project"></div>
  <div class="mainpage_project"></div>
  <div class="mainpage_project"></div>
  <div class="mainpage_project"></div>
  <div class="mainpage_project"></div>
  <div class="mainpage_project"></div>
</div>
