<div ng-controller="user_controller">
  <div class="logo_background">
    <h1 class="logo" align="center">Hey Team Up!</h1>
  </div>
  <div align="right">
    <a class="register_button" href="#!/register"><button class="btn btn-default">Click here to Register!</button></a>
  </div>
  <form>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" placeholder="Email" ng-model="oldUser.email">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Password" ng-model="oldUser.password">
  </div>
  <button type="submit" class="btn btn-default" ng-click="login()">Login!</button>
</form>

</div>
