<div>
  <header class="logo_background">
    <a class="logo_a" href="#/"><h2 class="small_logo" align="center">Hey Team Up!</h2></a>
  </header>
  <div ng-if="!nPC.curUser">
    <h1><a href="#!/register">Login</a> To Create A New Project:</h1>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="title" placeholder="Title" disabled>
      </div>
      <textarea class="form-control" rows="8" cols="40" placeholder="Description" disabled></textarea>
      <button class="btn btn-warning">Submit</button>
    </form>
    <footer class="navbar-fixed-bottom" align="center">
      <ul class="navbar">
        <li><a href="#!/">Home</a> |</li>
        <li><a href="#!/register">Login</a></li>
      </ul>
    </div>
  </div>
  <div ng-if="nPC.curUser">
    <form>
      <div class="form-group">
        <label for="Category">Category:</label>
        <select class="form-control" ng-model="nPC.newProject.category">
          <option value="javascript">Javascript</option>
          <option value="python">Python</option>
          <option value="csharp">C#</option>
          <option value="iOS">iOS</option>
          <option valud="Android">Android</option>
        </select>
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" placeholder="Title" ng-model="nPC.newProject.title">
      </div>
      <label for="description">Description:</label>
      <textarea class="form-control" rows="8" cols="40" placeholder="Description" ng-model="nPC.newProject.description"></textarea>
      <button type="submit" class="btn btn-default" ng-click="nPC.CreateNewProject()">Submit</button>
    </form>
    <footer class="navbar-fixed-bottom" align="center">
      <ul class="navbar">
        <li><a href="#!/">Home</a> |</li>
        <li><a href="/users/logout">Logout</a></li>
      </ul>
    </footer>
  </div>
</div>
