<div>
  <header class="logo_background">
    <h1 class="logo" align="center">Hey Team Up!</h1>
  </header>
</header>
  <div class="project">
    <h1>{{PC.project.title}}</h1>
    <p>Created by: <a href="/#!/users/{{PC.project.creator._id}}">{{PC.project.creator.firstName}}</a></p>
    <div id="projectMembers">
      <h3>Members:</h3>
      <ul>
        <li ng-repeat='member in PC.project.members'>{{member.firstName}}</li>
      </ul>
    </div>
    <a href="#!/register"><button ng-if="!PC.curUser" class="btn btn-danger">Login To Join!</button></a>
    <section ng-if="PC.curUser">
      <button ng-if="!PC.curUser.projects.includes(PC.project._id)" ng-click="PC.joinProject()" class="btn btn-success">Join Project</button>
      <button ng-if="PC.curUser.projects.includes(PC.project._id)" ng-click="PC.leaveProject()" class="btn btn-danger">Leave Project</button>
    </section>
  </div>
  <footer class="navbar-fixed-bottom" align="center">
    <ul class="navbar">
      <li><a href="#!/">Home</a> |</li>
      <li><a href="#!/myprofile">My Profile</a></li>
      <li><a href="#!/project/new">New Project</a> |</li>
      <li><a href="/users/logout">Logout</a></li>
    </ul>
  </footer>
</div>
